:host {
  padding: 2rem;
}

.box {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.item {
  width: 100%;
  padding: 0.25rem 0;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.stack {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}


.center {
  justify-content: center;
}

.large {
  font-size: 1.25rem;
}

.hard {
  font-weight: bold;
}

.small {
  font-size: 0.875rem;
}

.single {
  width: 100%;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.spacer {
  padding-bottom: 2rem;
}

.frame {
  width: calc(100% - 2rem);
  margin: 0.5rem 0 2rem 0;
  border: 1px solid #000;
  padding: 0.5rem 1rem;

  display: flex;

  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  font-weight: normal;
}

.fill {
  flex-grow: 1;
}

.footer {
  width: 100%;
  padding: 0.25rem 0;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.footer .footer-item {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

.footer #sign {
  height: 100px;
}

.footer #data {
  width: 300px;

  font-size: 3rem;

  border: 0;
  border-bottom: 4px dotted #999;
  color: black;
}