<div class="box">
  
  <div class="item center large hard">DECLARAȚIE PE PROPRIA RĂSPUNDERE</div>

  <div class="item center small spacer"> - Pentru deplasarea în perioada carantinării zonale -</div>

  <div class="item">
    <text name="name" [value]="state['name']" label="Nume Prenume" (update)="updateState($event)">Subsemnatul/subsemnata:</text>
  </div>

  <div class="item">
    <text name="birthday" [value]="state['birthday']" label="ZZ.LL.AAAA" (update)="updateState($event)">Născută/născut la data de:</text>
  </div>

  <div class="item">
    <text name="address" [value]="state['address']" label="Adresa curenta" (update)="updateState($event)">Având domiciliul/reședința:</text>
  </div>

  <div class="spacer"></div>

  <div class="item hard">Motivul deplasării</div> 

  <noption name="a" [selected]="state['a']" (update)="changeState($event)">Deplasarea în interes profesional, inclusiv între locuinţă, gospodărie şi locul/locurile de desfăşurare a activităţii profesionale şi înapoi;</noption>

  <noption name="b" [selected]="state['b']" (update)="changeState($event)">Deplasarea pentru asigurarea de bunuri care acoperă necesităţile de bază ale persoanelor şi animalelor de companie/domestice, precum şi bunuri necesare desfăşurării activităţii profesionale, pentru persoanele cu vârsta de peste 65 de ani în intervalul 10,00-13,00, iar pentru persoanele cu vârsta mai mică de 65 de ani în intervalele orare 6,00-10,00, respectiv 13,00-20,00;</noption>

  <noption name="c" [selected]="state['c']" (update)="changeState($event)">Deplasarea pentru asistenţă medicală care nu poate fi amânată şi nici realizată de la distanţă;</noption>

  <noption name="d" [selected]="state['d']" (update)="changeState($event)">Deplasările scurte în apropierea locuinței/gospodăriei legate de activitatea fizică individuală a persoanelor (cu excluderea oricăror activități sportive de echipă), precum şi pentru nevoile animalelor de companie/domestice;</noption>

  <noption name="e" [selected]="state['e']" (update)="changeState($event)">Deplasarea în scopul donării de sânge la centrele de transfuzie sanguină;</noption>

  <noption name="f" [selected]="state['f']" (update)="changeState($event)">Deplasarea în scop umanitar sau de voluntariat;</noption>

  <noption name="g" [selected]="state['g']" (update)="changeState($event)">Deplasarea pentru realizarea de activităţi agricole;</noption>

  <noption name="h" [selected]="state['h']" (update)="changeState($event)">Deplasarea producătorilor agricoli pentru comercializarea de produse agroalimentare;</noption>

  <noption name="i" [selected]="state['i']" (update)="changeState($event)">Îngrijirea sau administrarea unei proprietăţi din altă localitate și/sau eliberarea de documente necesare pentru obținerea unor drepturi;</noption>

  <noption name="j" [selected]="state['j']" (update)="changeState($event)">Deplasare în vederea susținerii examenelor pentru obținerea permisului de conducere;</noption>

  <noption name="k" [selected]="state['k']" (update)="changeState($event)">Participarea la programe sau proceduri în centrele de
  tratament;</noption>

  <noption name="l" [selected]="state['l']" (update)="changeState($event)">Pentru achiziția, service-ul, efectuarea ITP sau alte operaţiuni de întreţinere a vehiculelor, activităţi care nu pot fi efectuate în localitatea de domiciliu, cu prezentarea unui document justificativ;</noption>

  <noption name="m" [selected]="state['m']" (update)="changeState($event)">Alte motive justificative precum: îngrijirea/însoţirea copiilor/membrilor de familie, îngrijirea unei/unui rude/afin sau persoane aflate în întreţinere, asistenţa persoanelor vârstnice, bolnave sau cu dizabilităţi ori deces al unui membru de familie;</noption>


  <div class="item frame">
    <text name="destination" [value]="state['destination']" label="Destinatia" (update)="updateState($event)">Adresa spre care se deplasează</text>
    <text name="interval" [value]="state['interval']" label="Interval ore" (update)="updateState($event)">Intervalul orar în care se efectuează deplasarea</text>

    <text *ngIf="!!state['m']" name="cnp" [value]="state['cnp']" label="CNP" (update)="updateState($event)">Datele de identificare și de contact ale persoanei căreia i se acordă îngrijirea: </text>
    <in *ngIf="!!state['m']" label="Nume si Prenume"></in>
  </div>

  <div class="item hard spacer">
  Subsemnata/subsemnatul cunosc prevederile art. 326 din Codul penal cu privire la falsul în declarații coroborat cu art. 352 din Codul penal referitor la zădărnicirea combaterii bolilor. 
  </div>



  <div class="footer">
    <div class="footer-item fill">
      <div>Semnătura</div>

      <div class="" *ngIf="!signature">
        <signature-pad [options]="signaturePadOptions" (onEndEvent)="signed($event)"></signature-pad>
      </div>

      <div class="" *ngIf="signature">
        <img [src]="signature" />
      </div>
    </div>

    <div class="footer-item">
      <div>Data:</div>
      <div>
        <input id="data" type="text" placeholder="Data curenta" [ngModel]="state['day']" (ngModelChange)="editState($event)" />
      </div>
    </div>
  </div>

</div>
