/* Add application styles & imports to this file! */

body {
  background: rgb(241, 241, 241); 
  font-family: sans-serif;
  font-size: 14px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
  font-size: 1rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
  font-size: 1rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
  font-size: 1rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaa;
  font-size: 1rem;
}

input {
  outline: none;
}

input:focus {
  outline: none;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
}

@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }

  .no-print, .no-print * {
    display: none !important;
  }
}

.printer {
  width: 80px;
  height: 80px;

  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;

  border: 0;
  border-radius: 50%;
  margin: 0.25rem;
  padding: 0.25rem;
  
  font-size: 0.875rem;
  font-weight: bold;
  color: white;

  background-color: #209CEE;
  -webkit-box-shadow: 4 10 10 0.3 #000;
  -moz-box-shadow: 4 10 10 0.3 #000;
  box-shadow: 4 10 10 0.3 #000;

  cursor: pointer;
}
.printer:hover {
  background-color: darkblue;

  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.printer:focus {
  outline: none;
}