<label class="container"><ng-content></ng-content>
  <input #checker type="checkbox" [attr.checked]="selected ? 'checked' : null" (change)="updateState($event)">
  <span class="checkmark"></span>
</label>


