:host {
  width: 100%;

  display: flex;
  flex-direction: row;
  
}

.info {
  padding-right: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.text {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.text input {
  width: 100%;

  border: 0;
  border-bottom: 2px dotted #999;

  font-size: 1.125rem;
}